

{{#each albums}}
<div class="section section-{{style}}" id={{id}}>

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{prettyName}}</h2>
            </div>
            {{#each albums}}
                <div class="col-lg-2 col-md-4 col-sm-6">

                    <a href="{{this.path}}"><img class="img-responsive img-polaroid img-home-portfolio" src="/photos/{{this.thumb}}?tn=180"></a>
                </div>
            {{/each}}
        </div>

    </div><!-- /.container -->
</div>
{{/each}}



